/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

	
/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */

@import "views/questionnaires.scss";
@import "views/login.scss";

@mixin gazpacho {
  /* Include all the styles from the reindeer theme */
  @include reindeer;
  @include gazpacho-login-view;
  @include gazpacho-questionnaires-view;
  
}
