/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

  /* Application background 
	.v-app {
    background: red;
	}
	*/
	
/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin gazpacho {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
	
	  $color : yellow;
/*
   .v-button-caption {
	color:  $color;
   }*/
   .v-window{
  color:  $color;
   
   }
   
  // Use Sass just to show how it can be leveraged
  .description {
  	
    // These will auto-adjust according the the font-size
    padding: 1em;
    line-height: 1.5;
    
    &[width-range="0-100px"] {
      font-size: 10px;
    }
    
    &[width-range="101px-200px"] {
      font-size: 12px;
    }
    
    &[width-range="200px-350px"] {
      font-size: 14px;
    }
    
    &[width-range="351px-500px"] {
      font-size: 18px;
    }
    
    &[width-range="501px-700px"] {
      font-size: 24px;
    }
    
    &[width-range="701px-"] {
      font-size: 30px;
    }
    
  }
}
