<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Gazpacho Questionnaires</display-name>
  <context-param>
    <description>Vaadin production mode</description>
    <param-name>productionMode</param-name>
    <param-value>false</param-value>
  </context-param>
<!-- 
  <servlet>
    <servlet-name>MyprojectUI</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <description>Vaadin UI class to use</description>
      <param-name>UI</param-name>
      <param-value>net.sf.gazpachoquest.questionnaires.QuestionnairesUI</param-value>
    </init-param>

    <init-param>
      <param-name>uiprovider</param-name>
      <param-value>com.vaadin.cdi.CDIUIProvider</param-value>
    </init-param>

    <init-param>
      <param-name>viewprovider</param-name>
      <param-value>com.vaadin.cdi.CDIViewProvider</param-value>
    </init-param>

    <init-param>
      <param-name>widgetset</param-name>
      <param-value>net.sf.gazpachoquest.questionnaires.AppWidgetSet</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>MyprojectUI</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MyprojectUI</servlet-name>
    <url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>
 -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>gazpacho</web-resource-name>
      <url-pattern>/dummyurl/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>respondent</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>respondents</realm-name>
  </login-config>

  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>respondent</role-name>
  </security-role>
</web-app>